<mat-card>
    <mat-card-header>
        <h2>Employee Listing</h2>
    </mat-card-header>

    <mat-card-content>
        <div class="mat-elevation-z8">&nbsp;
          <button (click)="addcustomer()" mat-raised-button color="primary">Add Employee</button>
            <table mat-table matSort  [dataSource]="dataSource">
          
              <!-- Position Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container  matColumnDef="name">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
          
              <!-- Weight Column -->
              <ng-container matColumnDef="salary">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Salary </th>
                <td mat-cell *matCellDef="let element"> {{element.salary}} </td>
              </ng-container>
          
              <!-- Symbol Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">  
                    <button (click)="updatecustomer(element.id)" mat-raised-button color="primary">Edit</button>&nbsp;&nbsp;
                    <button (click)="removecustomer(element.id)" mat-raised-button color="accent">Delete</button>

                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                           showFirstLastButtons
                           aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
    </mat-card-content>
  </mat-card>